.task-list {
  width: 100%;
  height: 100vh;
  background-color: #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search {
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 90%;
  
    input {
      background-color: #fff;
      border: 0;
      height: 100%;
      width: 100%;
      font-size: 18px;
      border-radius: 50px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding: 0px 0px 0px 15px;
      margin: 0px 0px 0px 0px;
      color: #333;
      outline: none;
      box-shadow: 0px 1px 5px #999;
  
      &::placeholder {
        color: #999;
      }
    }
  
    button {
      background-color: #333;
      border: 0;
      height: 50px;
      width: 80px;
      border-radius: 50px;
      margin: 0px 0px 0px 0px;      
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 1px 5px #999;
    }
  }
  
  .task {
    width: 90%;
    height: 120px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0px;
    display: grid;
    grid-template-columns: 60px 1fr max-content;
    font-family: "Source sans 3";
    border-radius: 0px;
    border-left: solid 5px rgb(184, 89, 89);
    box-shadow: 0px 0px 5px #888;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      h3 {
        color: #222;
        font-size: 25px;
        margin: 0;
      }
  
      p {
        color: #333;
        margin: 0;
        line-height: 15px;
        font-size: 17px;
      }
    }
  
    .input {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .state {
      background-color: rgb(184, 89, 89);
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
